/* * {
  box-sizing: border-box;
} */

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e6ddc4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  margin: 0 auto;
}

#questionContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#answerChoices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  margin: 5px;
  background-color: gray;
  width: 200px;
  border-radius: 5%;
}

.choice {
  width: 80%;
  margin: 0%;
  border-radius: 5px;
  box-sizing: content-box;
  border: 10px solid gray;
}

button {
  outline: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid white;
  box-sizing: content-box;
}

.hide {
  display: none;
}

.wrong {
  color: black;
  background-color: red;
}

.correct {
  color: white;
  background-color: green;
}

#start {
  width: 100%;
  padding: 5px;
  margin: 10px;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px white;
}
/* for instructions */
li {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  list-style-type: square;
  font-weight: bold;
}

#instruction-contents {
  display: flex;
  justify-content: center;
  align-items: baseline;
  /* box-shadow: 5px 0 5px 5px yellow; */
  border: 5px solid black;
  padding: 15px;
}
