body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e6ddc4;
}

h1 {
  margin: 0 auto;
}

#questionContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#answerChoices {
  padding: 10px;
}

#answerChoices li {
  padding: 5px;
  margin: 5px;
  background-color: yellow;
  width: 200px;
  border-radius: 5%;
}

#answerChoices li:hover {
  background-color: aqua;
}

button {
  outline: none;
  padding: 10px;
  border: 1px solid white;
}

.hide {
  display: none;
}

.wrong {
  color: black;
  background-color: red;
}

.correct {
  color: white;
  background-color: green;
}
